<template>
    <require from="./logo.html"></require>

    <style>
        .container {
            padding-top: 55px;
            width: 90%;
            max-width: 960px;
            margin: 0 auto;
        }
        .flex {
            display: flex;
        }
        .row {
            width: 100%;
        }
        .between {
            justify-content: space-between;
        }
        li.flex > span {
            flex: inherit;
        }
        ul.menu > li {
            padding: 10px 10px 0 10px;
        }
        ul.menu > li:hover {
            background-color: #ccc;
        }
        ul.menu > li.food-char {
            display: flex;
            padding: 0;
        }
        ul.menu > li.food-char:hover {
            background-color: #fff;
        }
        ul.menu > li.food-char > hr {
            width: 90%;
            background-color: #ccc;
        }
        .text-center {
            text-align: center;
        }
        .text-disabled {
            color: #666;
        }
        .text-red {
            color: rgb(255, 52, 113);
        }
        h2 {
            padding-top: 50px;
        }
        .chars {
            text-decoration: none;
            color: #ccc;
            font-family: 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', Times, Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica,
                serif, LastResort;
            font-variant-emoji: emoji;
        }
    </style>

    <nav class="demo">
        <a href="./" class="brand">
            <logo></logo>
            <span>JCU Menza menu</span>
        </a>

        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show" />
        <label for="bmenub" class="burger pseudo button">menu</label>

        <div class="menu">
            <a href="#endpoints" class="pseudo button">Endpoints</a>
            <a href="#about" class="pseudo button">About</a>
        </div>
    </nav>

    <main class="container flex row">
        <div if.bind="menus === null || menus.length < 1" class="row">
            <article class="card">
                <header>
                    <h3>Something went wrong during fetching data.</h3>
                    <p>Either Menza's site has no scrapable data or parsing of menu failed.</p>
                </header>
            </article>
        </div>
        <div class="row">
            <button repeat.for="day of menus" click.delegate="set(day)" class="${day === selectedDay ? 'success' : ''}">
                ${day.date | stripYear}
            </button>
        </div>
        <div class="row">
            <article class="card">
                <header>
                    <h3>⚠️ Deprecated in favor of <a href="https://slichta.vercel.app">slichta.vercel.app</a></h3>
                </header>
            </article>
            <article class="card">
                <header>
                    <h3>${selectedDay.date}</h3>
                </header>
                <section>
                    <ul class="menu">
                        <li class="food-char" title="Meals">
                            <span class="chars">🥗</span>
                            <hr />
                        </li>
                        <li class="tooltip-top flex between" repeat.for="meal of selectedDay.data.default" data-tooltip="${meal.allergens}">
                            ${meal.name}
                            <span>
                                <span class="label" data-tooltip="Student price">${meal.price.student}</span>
                                <span class="label" data-tooltip="Default price">${meal.price.default}</span>
                            </span>
                        </li>
                        <li class="food-char" title="Fast food meals">
                            <span class="chars">🍟</span>
                            <hr />
                        </li>
                        <li class="tooltip-top flex between" repeat.for="meal of selectedDay.data.fastFood" data-tooltip="${meal.allergens}">
                            ${meal.name}
                            <span>
                                <span class="label" data-tooltip="Student price">${meal.price.student}</span>
                                <span class="label" data-tooltip="Default price">${meal.price.default}</span>
                            </span>
                        </li>
                        <li class="food-char" title="Soups">
                            <span class="chars">🍜</span>
                            <hr />
                        </li>
                        <li class="tooltip-top flex between" repeat.for="meal of selectedDay.data.soup" data-tooltip="${meal.allergens}">
                            ${meal.name}
                            <span>
                                <span class="label" data-tooltip="Student price">${meal.price.student}</span>
                                <span class="label" data-tooltip="Default price">${meal.price.default}</span>
                            </span>
                        </li>
                    </ul>
                </section>
            </article>
        </div>
    </main>
    <section class="container flex">
        <h2 id="endpoints" class="full">Endpoints</h2>
        <div class="full">
            <p>Menus are refreshed every day at 1AM CET. You can access data in JSON on following link.</p>
            <ul>
                <li>
                    <a href="menus.json">JSON</a> - documented on
                    <a href="https://gitlab.com/hajnyon/jcu-menza-scraper/wikis/home#endpoints-doc" target="_blank">wiki</a>
                </li>
            </ul>
        </div>
    </section>
    <section class="container flex five">
        <h2 class="full" id="about">About</h2>
        <div class="full">
            <p>⚠️ Deprecated in favor of <a href="https://slichta.vercel.app">slichta.vercel.app</a></p>
            <p>Site purpose is to display menu of JCU menza for humans. Meaning in clear, simple way without need to send form to filter it.</p>
            <p>
                Data are fetched from <a href="https://menza.jcu.cz" target="_blank">menza's site</a> using
                <a href="https://github.com/GoogleChrome/puppeteer" target="_blank">puppeteer</a>, parsed from html using
                <a href="https://github.com/cheeriojs/cheerio" target="_blank">cheerio</a> and displayed using
                <a href="https://aurelia.io/" target="_blank">aurelia framework</a> styled with
                <a href="https://picnicss.com/" target="_blank">picnic</a>. Site is hosted on
                <a href="https://gitlab.com/" target="_blank">gitlab</a> which also runs the job periodically using it's ci/cd scripts. Logo by
                <a href="https://undraw.co/" target="_blank">undraw</a>.
            </p>
        </div>
    </section>
    <footer class="container flex center">
        <div class="text-center text-disabled">
            <span>coded with <span class="text-red"><3</span> by <a href="https://hajnyon.cz">hajnyon</a></span>
        </div>
    </footer>
</template>
